.header {
    font-size: 24px;
    margin: auto;
    max-width: 25rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    padding-bottom: 3rem;
}

.list {
    display: flex;
    gap: 1rem;
}

.list a {
    text-decoration: none;
    color: var(--color-primary-400);
}

.list a:hover,
.list a.active {
    color: var(--color-primary-800);
}

.img {
    height: 80px;
}